@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #656D78;
}

mwc-icon-button{
  background-color: #FFFCF5;
  border-radius: 100%;
  --mdc-icon-size: 22px;
}

mwc-button {
  --mdc-theme-on-primary: #656D78;
  --mdc-theme-primary: #FFFCF5;
  --mdc-typography-button-font-size: 11px;
  --mdc-button-horizontal-padding: 20px;
}

mwc-icon {
  --mdc-icon-size: 20px;
}

/* mwc-icon-button {
  --mdc-icon-button-size: 30px;
  --mdc-icon-size: 20px;
} */

#carousel-container::-webkit-scrollbar {
  display: none;
}

h4 {
  font-size: 14px;
  font-weight: 600;
}

h5 {
  font-size: 12px;
  font-weight: 600;
}

hr {
  border: 1.5px solid #54545456;
}